<div class="container">
  <div class="row" id="footer">
    <div class="col-3">
      <h4>About</h4>
      <p>
        Necessary, making this the first true generator on the internet. It uses
        a dictionary of obver 200 Latin words, combined with
      </p>
    </div>
    <div class="col-3">
      <h4>Reach at..</h4>
      <div class="link">
        <a href="#"><p>Location</p></a>
        <a href="#"><p>Call +01 1234567890</p></a>
        <a href="#"><p>demo@gmail.com</p> </a>
      </div>
    </div>
    <div class="col-3">
      <h4>About</h4>
      <p>
        Necessary, making this the first true generator on the internet. It uses
        a dictionary of obver 200 Latin words, combined with
      </p>
    </div>
    <div class="col-3">
      <h4>Reach at..</h4>
      <div class="link">
        <a href="#"><p>Location</p></a>
        <a href="#"><p>Call +01 1234567890</p></a>
        <a href="#"><p>demo@gmail.com</p> </a>
      </div>
    </div>
  </div>
</div>
