<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2 class="title">Timups</h2>
    </div>
    <div class="col-lg-6">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#home">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#watches/name">WATCHES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact-us">CONTACT US</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-lg-3" id="img">
        <img src="/assets/search.png" alt="">
        <img src="/assets/add-cart.png" alt="">
        <img src="/assets/user.png" alt="">
    </div>
  </div>
</div>
